html, body {
  margin: 0;
  width: 100%;
  color: #000;
  background-image: url('/images/weather.jpg');
	background-repeat: no-repeat;
	background-size: cover;
  font-family: "Iosevka", "Helvetica", serif;
}

.card {
  width: 100%;
	display: flex;
	flex-direction: column;
}
